# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# Variables de entorno
.env
.env.local

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
